@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;700&display=swap');

::before,
::after,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Readex Pro", sans-serif;
}

/* ============================== NavHeader ============================== */
/* Set children elements inside the nav to space-between */
nav {
  width: 100%;
  max-height: 80px;
  display: flex;
  justify-content: space-between;
}

/* Set the logo-container size to contain logo image */
nav .logo-container {
  max-width: 170px;
  margin: 15px;
}

/* Style the logo to fit the logo-container & border-radius */
nav .logo-container .logo {
  width: 100%;
  border-radius: 10px;
}

/* Style Login button */
.login-button {
  color: #ff0000;
  background: #ffffff;
  font-size: 20px;
  font-weight: 600;
  padding: 0 20px;
  border-radius: 20px;
  border: none;
  margin: 20px 20px;
}

/* Login button when hover */
.login-button:hover {
  color: #ffffff;
  background: #ff6e40;
}

/* ============================== LandingPage ============================== */
/* - Set width & height to 100vw/vh so it takes up the whole viewport */
/* - Set position:fixed so unable to scroll */
/* - Set linear gradient from right-bottom to left-top; from black to orange */
/* - Set background image to cover the whole viewport, no-repeat & be center */
.landingpage {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: linear-gradient(to left top, rgb(0, 0, 0, 0.2), rgba(179, 84, 30, 0.6)),
    url('https://images.unsplash.com/photo-1518199266791-5375a83190b7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Set the content to be center, justify-center wont center so use vh for margin instead */
.landingpage-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30vh;
}

/* Find the Right One, Right Here, Right Now */
h1 {
  font-size: 4vw;
  color: #ffffff;
  text-align: center;
}

/* Style CreateAcc button */
.createAcc-button {
  color: #ffffff;
  background: linear-gradient(45deg, #ff0000, #ff6e40);
  font-size: 20px;
  padding: 5px 50px;
  border-radius: 30px;
  border: none;
  margin-top: 10px;
  width: 100%;
  max-width: 250px;
}

/* Style CreateAcc button when hover */
.createAcc-button:hover {
  color: #ffffff;
  background: linear-gradient(45deg, #ff6e40, #ff0000);
}

/* ============================== CreateAccount compo ============================== */
/* Logo for downloading apps */
.logo-container {
  max-width: 250px;
  margin: 15px;
}

.logo-container .logo {
  width: 100%;
}

/* ---------- Dashboard Sample ----------  */
.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.swipe {
  position: absolute;
  height: 300px;
}

.card-container {
  width: 90vw;
  max-width: 260px;
  min-height: 500px;
  margin: 0 auto;
}

#profile-header {
  color: black
}

.card {
  position: relative;
  background-color: #fff;
  width: 80vw;
  max-width: 260px;
  min-height: 500px;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.30);
  border-radius: 20px;
  background-size: cover;
  background-position: center;
}

.cardContent {
  width: 100%;
  height: 100%;
}


.card h3 {
  position: absolute;
  bottom: 0;
  margin: 10px;
  color: #fff;
}

.infoText {
  width: 100%;
  justify-content: center;
  display: flex;
  color: #ff0000;
  animation-name: popup;
  animation-duration: 800ms;
}

.dashboard .swipe-direction {
  position: absolute;
  top: 40%;
  padding: 20px;
}

.navBar {
  position: fixed;
  background: linear-gradient(45deg, #ffcaca, #ff6e40);
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 100%;
  padding: 5px;
  box-shadow: 0 -8px 10px -10px rgba(82, 4, 4, 0.5);

}

.base {
  bottom: 0;
}

.top {
  top: 0;
  box-shadow: 0 8px 10px -10px rgba(82, 4, 4, 0.5);
}

.space-between {
  display:flex;
  justify-content: space-between;
}

.space-evenly {
  display:flex;
  justify-content:space-evenly;
}

.base-nav img {
  padding: 0 12px;
}

.selected {
  background-color: rgb(255, 205, 205);
  opacity: 80%;
  border-radius: 30%;
}




.match-gallery {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  background: linear-gradient(45deg, #ffcaca, #ff6e40);
  padding-top: 20px;
  /* padding-left: 10px;
  padding-right: 10px; */
  box-shadow: 0 8px 10px -10px rgba(82, 4, 4, 0.5);
  position: relative;
  z-index: +1;


}

.match-gallery-inner {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  justify-content: flex-start;
  width: 100%;
  max-width: 650px;
}


.message-gallery-title {
  color: rgb(250, 126, 126);
  font-size: 16px;
  margin-left: 25px;


}

.match-thumb {
  border-radius: 50%;
  max-height: 60px;
  margin: 5px 15px;
  border: 2px solid white;
}

.message-gallery {
  padding-top: 20px;
  padding-bottom: 40px;
  max-width: 650px;
  margin: 0 auto;
  height: 100vh;
  background: white;


}

.match-thumb-name {
  color: white;
  font-weight: 600;
}

.message-thumb-name {
  color: black;
  opacity: 70%;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 6px;
}

.match-content {
  max-width: 100%;
  max-height: 100%;
  padding-top: 40px;
}

.match-content img {
  max-width: 100%;

}

.match-thumb-message {
  max-width: 350px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  font-size: 13px;
  font-weight: 300;
  color: grey;



}

.match-thumb-link {
  text-decoration: none;

}

.match-thumb-container {
  padding: 10px 0;

}

.message-thumb-container {
  display: grid;
  grid-template-columns: .25fr 1fr;
  padding: 5px;
  /* border-bottom: 1px solid rgb(255, 206, 235); */
}






/* ============================== Edit User Profile compo ============================== */
hr {
  margin: 10px;
}

.profile-form {
  margin: 30px;
}

.profile-form h2 {
  font-weight: 600;
  color: #ff0000;
  /* background: -webkit-linear-gradient(#ff6e40, #ff0000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.createAcc-button:disabled {
  color: #ffffff;
  background: #4644442e;
}

.images-edit {
  max-width: 350px;
  display:flex;
  flex-direction: row;
  position: relative;
  overflow-x: scroll;
}

.img-del {
  position: relative;
  margin:0;
  left:12px;
  max-width:20px;
  max-height:20px;

}

.img-edit {
  max-width:150px;
  min-width:150px;
  max-height: 150px;
  min-height:150px;
  object-fit: cover;
  margin: 10px 2px 0 2px;
}

.img-cross {
  display:flex;
}


/* ============================== Loading Page compo ============================== */
.loading-page {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: linear-gradient(to left top, #ff8e6c,rgb(255,205,205));
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-page h3 {
  color: #ffffff;
  font-size: 2rem;
  font-style: italic;
}

/* ============================== User Profile compo ============================== */
.userprofile-container {
  max-width: 100vw;
  margin: 25px 0;
}
  
.userprofile-pic {
  width: 100vw;
  height: 50vh;
  object-fit: cover;
}

.userprofile-content ul li {
  list-style: default;
}

