* {
    scroll-behavior: auto;
}

body {
    background-color: white;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
}

#messages{
    padding-bottom: 75px;
    padding-top: 35px;
    padding-left: 0px;
    margin: 20px auto;
    
}


li {
    list-style-type: none;
    margin-bottom: 10px;
    background-color: #dcdcdc;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    color: rgb(47, 47, 47);
    min-width: 4%;
    min-height: 4%;
    max-width: 65%;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 13px;
    font-family: helvetica, arial, sans-serif;
    overflow-wrap: break-word;
    
}

li span {
    font-style: italic;
    font-weight: bolder;
    color: #b5b0b9;
}

#chat {
    width: 95%;
    max-width: 650px;
    margin: 0px auto;
}

#message-form {
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white
}

#message-btn {
    width: 80px;
    height: 30px;
    border-radius: 10px;
    margin-left: 10px;
    border: 0;
    background: linear-gradient(45deg, #ff6030, #ff4343);
    color: white;
    box-shadow: 10px 0 15px 4px rgba(0, 0, 0, 0.20);
}

#message-input {
    width: 70%;
    height: 30px;
    border-radius: 10px;
    margin-bottom: 15px;
    border: 0;
    /* background-color: rgb(228, 228, 228); */
    box-shadow:0 0 15px 4px rgba(0, 0, 0, 0.20);
    padding: 5px;
    font-family: helvetica, arial, sans-serif;
    color: rgb(47, 47, 47);
}

#message-input:focus {
    outline: none;
    border-color:#b5b0b9
}

button {
    width: 25%;
    height: 38px;
}

.sent {
    text-align: left;
    background: linear-gradient(45deg, #ff6030, #ff4343);
    color: white;
    margin-left: auto;
    margin-right: 0;
}

.sent span {
    margin-left: 5px;
    color: #d33f5a;
}